extends ../layouts/base

append vars
	- title = 'Главная'

block content
	include ../layouts/main
	include ../layouts/scam
	include ../layouts/kasko
	include ../layouts/problem
	include ../layouts/scheme
	include ../layouts/footer