+b.HEADER.header
	+e.wrap.wrap.flex._vertical._justify
		+e.A.logo(href="/main.html")
			+e.IMG.logo-pic(src="/img/logo.png")
			+e.SPAN.logo-text страхование
		+e.NAV.nav.flex
			+e.A.link(href="/kviz.html") Расчет
			+e.A.link.js-scroll-to(href="#scam") Обман
			+e.A.link.js-scroll-to(href="#car") Машина
			+e.A.link.js-scroll-to(href="#kasko") Каско
			+e.A.link.js-scroll-to(href="#contact") Контакты
		+e.call.flex_vertical
			+e.A.phone(href="tel:+7 (812) 770-22-65") +7 (812) 770-22-65
			+e.A.btn.btn._stroke._small.js-modal(href="#recall") заказать звонок
		+e.burger
			+e.burger-line
			+e.burger-line
			+e.burger-line
	+e.mobile
		+e.mobile-nav
			+e.A.mobile-link(href="/kviz.html") Расчет
			+e.A.mobile-link.js-scroll-to(href="#scam") Обман
			+e.A.mobile-link.js-scroll-to(href="#car") Машина
			+e.A.mobile-link.js-scroll-to(href="#kasko") Каско
			+e.A.mobile-link.js-scroll-to(href="#contact") Контакты
		+e.A.mobile-phone(href="tel:+7 (812) 770-22-65") +7 (812) 770-22-65
		+e.A.mobile-btn.btn._fill._small.js-modal(href="#recall") заказать звонок