+b.kasko#kasko
	+e.wrap.wrap
		+e.content
			+e.H2.title.h1 КАСКО на BMW x5
			+e.desc Выберите свой вариант
			+e.buttons.flex_center
				+e.A.btn.btn__._big._fill(href="/kviz.html")
					| Новый полис
					+e.icon-docs
						+icon('docs','0 0 27 32')
				+e.A.btn.btn__._big._stroke(href="/prolongation.html")
					| Продление
					+e.icon-restore
						+icon('restore','0 0 33 33')
			+e.IMG.cars(src="/img/kasko__img.png")