+b.kviz
	+e.top
		include header
	+e.center
		+e.wrap.wrap
			+e.steps
				+e.step.is-active
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='480')
						+e.circle-number 1
					+e.head.flex_vertical
						+e.head-left
							+e.H2.head-title
								| Марка автомобиля
						+e.head-right.flex._justify._vertical
							+e.INPUT.head-input.input._small(placeholder="Введите марку автомобиля",v-model="company")
							+e.A.head-btn.btn._small._fill.js-next-step(href="#") Далее
							+e.head-text Или выберите из списка ниже
					+e.list._brend(data-value="brend")
						+e.item  Acura 
						+e.item  Alfa Romeo 
						+e.item  Aston Martin 
						+e.item  Audi 
						+e.item  Bentley 
						+e.item  Bmw 
						+e.item  Brilliance 
						+e.item  Buick 
						+e.item  Byd 
						+e.item  Cadillac 
						+e.item  Changan 
						+e.item  Chery 
						+e.item  Chevrolet 
						+e.item  Chrysler 
						+e.item  Citroen 
						+e.item  Dacia 
						+e.item  Daewoo 
						+e.item  Daihatsu 
						+e.item  Datsun 
						+e.item  Dodge 
						+e.item  Faw 
						+e.item  Ferrari 
						+e.item  Fiat 
						+e.item  Ford 
						+e.item  Geely 
						+e.item  Genesis 
						+e.item  Gmc 
						+e.item  Great Wall 
						+e.item  Honda 
						+e.item  Hyundai 
						+e.item  Infiniti 
						+e.item  Jac 
						+e.item  Jaguar 
						+e.item  Jeep 
						+e.item  Kia 
						+e.item  Lamborghini 
						+e.item  Lancia 
						+e.item  Land Rover 
						+e.item  Lexus 
						+e.item  Lifan 
						+e.item  Lincoln 
						+e.item  Lotus 
						+e.item  Luxgen 
						+e.item  Maserati 
						+e.item  Maybach 
						+e.item  Mazda 
						+e.item  Mercedes-benz 
						+e.item  Mini 
						+e.item  Mitsubishi 
						+e.item  Nissan 
						+e.item  Opel 
						+e.item  Peugeot 
						+e.item  Ravon 
						+e.item  Renault 
						+e.item  Rolls-royce 
						+e.item  Saab 
						+e.item  Scion 
						+e.item  Seat 
						+e.item  Skoda 
						+e.item  Smart 
						+e.item  Ssang Yong 
						+e.item  Subaru 
						+e.item  Suzuki 
						+e.item  Tagaz 
						+e.item  Toyota 
						+e.item  Volkswagen 
						+e.item  Volvo 
						+e.item  Vortex 
						+e.item  ВАЗ (lada) 
						+e.item  ГАЗ 
						+e.item  ЗАЗ 
						+e.item  УАЗ 
				+e.step
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='465')
						+e.circle-number 2
					+e.head.flex_vertical
						+e.head-left
							+e.H2.head-title
								| Модель автомобиля
						+e.head-right.flex._justify._vertical
							+e.INPUT.head-input.input._small(placeholder="Введите модель автомобиля")
							+e.A.head-btn.btn._small._fill.js-next-step(href="#") Далее
							+e.head-text Или выберите из списка ниже
					+e.list._model(data-value="model")
						+e.item  A1 
						+e.item  A3 
						+e.item  A4 
						+e.item  A5 
						+e.item  A6 
						+e.item  A7 
						+e.item  A8 
						+e.item  Q2 
						+e.item  Q3 
						+e.item  Q5 
						+e.item  Q7 
						+e.item  R8 
						+e.item  RS 3 
						+e.item  RS 4 
						+e.item  RS 5 
						+e.item  RS 6 
						+e.item  RS 7 
						+e.item  RS Q3 
						+e.item  S3 
						+e.item  S4 
						+e.item  S5 
						+e.item  S6 
						+e.item  S7 
						+e.item  S8 
						+e.item  SQ5 
						+e.item  SQ7 
						+e.item  TT 
				+e.step
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='450')
						+e.circle-number 3
					+e.head.flex_vertical
						+e.head-left
							+e.H2.head-title
								| Год выпуска
						+e.head-right.flex._justify._vertical
							+e.INPUT.head-input.input._small(placeholder="Введите год выпуска")
							+e.A.head-btn.btn._small._fill.js-next-step(href="#") Далее
							+e.head-text Или выберите из списка ниже
					+e.list._year(data-value="year")
						+e.item  2000 
						+e.item  2001 
						+e.item  2002 
						+e.item  2003 
						+e.item  2004 
						+e.item  2005 
						+e.item  2006 
						+e.item  2007 
						+e.item  2008 
						+e.item  2009 
						+e.item  2010 
						+e.item  2011 
						+e.item  2012 
						+e.item  2013 
						+e.item  2014 
						+e.item  2015 
						+e.item  2016 
						+e.item  2017 
						+e.item  2018 
						+e.item  2019 
				+e.step
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='435')
						+e.circle-number 4
					+e.head.flex_vertical
						+e.head-left
							+e.H2.head-title
								| Возраст водителя
						+e.head-right.flex._justify._vertical
							+e.INPUT.head-input.input._small(placeholder="Введите возраст водителя")
							+e.A.head-btn.btn._small._fill.js-next-step(href="#") Далее
							+e.head-text Или выберите из списка ниже
					+e.list._age(data-value="age")
						+e.item  19 
						+e.item  20 
						+e.item  21 
						+e.item  22 
						+e.item  23 
						+e.item  24 
						+e.item  25 
						+e.item  26 
						+e.item  27 
						+e.item  28 
						+e.item  29 
						+e.item  30 
						+e.item  31 
						+e.item  32 
						+e.item  33 
						+e.item  34 
						+e.item  35 
						+e.item  36 
						+e.item  37 
						+e.item  38 
						+e.item  39 
						+e.item  40 
						+e.item  41 
						+e.item  42 
						+e.item  43 
						+e.item  44 
						+e.item  45 
						+e.item  46 
						+e.item  47 
						+e.item  48 
						+e.item  49 
						+e.item  50 
						+e.item  51 
						+e.item  52 
						+e.item  53 
						+e.item  54 
						+e.item  55 
						+e.item  56 
						+e.item  57 
						+e.item  58 
						+e.item  59 
						+e.item  60 
						+e.item  61 
						+e.item  62 
						+e.item  63 
						+e.item  64 
						+e.item  65 
						+e.item  66 
						+e.item  67 
						+e.item  68 
						+e.item  69 
						+e.item  70 
				+e.step
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='420')
						+e.circle-number 5
					+e.head.flex_vertical
						+e.head-left
							+e.H2.head-title
								| Стаж вождения
						+e.head-right.flex._justify._vertical
							+e.INPUT.head-input.input._small(placeholder="Введите стаж вождения")
							+e.A.head-btn.btn._small._fill.js-next-step(href="#") Далее
							+e.head-text Или выберите из списка ниже
					+e.list._experience(data-value="experience")
						+e.item 0
						+e.item  1 
						+e.item  2 
						+e.item  3 
						+e.item  4 
						+e.item  5 
						+e.item  6 
						+e.item  7 
						+e.item  8 
						+e.item  9 
						+e.item  10 
						+e.item  11 
						+e.item  >11
				+e.step
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='405')
						+e.circle-number 6
					+e.H2.head-title
						| Характеристики авто
					+e.H3.head-desc.h3 Выберите свой вариант
					+e.parameters
						+e.parameters-left
							+e.parameters-section.flex._justify._vertical
								+e.parameters-text Мощность авто
								+e.INPUT.parameters-input.input._small.js-input-power(placeholder="Введите мощность",data-value="150")
								+e.parameters-slider._power.js-slider-power
							+e.parameters-section.flex._justify._vertical
								+e.parameters-text Стоимость авто
								+e.INPUT.parameters-input.input._small.js-input-price(placeholder="Введите цену",data-value="1500000")
								+e.parameters-slider._price.js-slider-price
						+e.parameters-btn.js-next-step.A.btn-round__(href="#")
							+e.line
								svg(xmlns='http://www.w3.org/2000/svg', width='259.66', height='263', viewBox='0 0 259.66 263')
									path(d='M1528.66,5844.54A131.015,131.015,0,1,1,1401,5684', transform='translate(-1269.5 -5683.5)')
							+e.text
								| Далее
						+e.A.parameters-btn._hidden.btn._small._fill.js-next-step(href="#") Далее
				+e.step
					+e.circle
						svg(width='42', height='42')
							circle.circle(cx='21', cy='21', r='20', stroke-dashoffset='0')
						+e.circle-number 7
					+e.FORM.form(action="/app/mail")
						input(type="hidden",name="subject",value="Заявка с квиза")
						input(type="hidden",name="brend")
						input(type="hidden",name="model")
						input(type="hidden",name="year")
						input(type="hidden",name="age")
						input(type="hidden",name="experience")
						input(type="hidden",name="power")
						input(type="hidden",name="price")
						+e.H2.form-title Контактные данные
						+e.form-desc Подтвердите Ваш номер телефона и получите расчет КАСКО
						+e.form-row.flex_justify
							+e.form-col
								+e.INPUT.form-input.input._big(type="tel",name="phone",placeholder="+7 (___) ___-__-__")
							+e.form-col
								+e.BUTTON.form-btn.btn._big._stroke(type="submit") Получить расчет КАСКО
				+e.step
					+e.thancks
						+e.thancks-icon
							svg(id='thanks.svg', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 299 167.531')
								defs
									style.
										.thancks-1 {
										fill: none;
										stroke: #2e47ff;
										stroke-width: 4px;
										fill-rule: evenodd;
										}
								path.thancks-1(id='Эллипс_566', data-name='Эллипс 566', d='M1092.31,314.356A147.032,147.032,0,0,1,1106,376.5m-295,0a147.527,147.527,0,0,1,225.23-125.378', transform='translate(-809 -227)')
								path.thancks-1(id='Прямоугольник_567', data-name='Прямоугольник 567', d='M1104.53,244.5L956.5,392.528,904.472,340.5', transform='translate(-809 -227)')
						+e.H2.form-title Спасибо за заявку
						+e.form-desc Мы свяжемся с Вами в ближайщее время
	+e.bottom
		.wrap
			+e.bottom-list
				+e.bottom-item
					+e.bottom-number 1
					+e.bottom-content
						+e.bottom-title
							| Марка
							br
							| автомобиля
						+e.bottom-desc.js-brend Не указано
				+e.bottom-item
					+e.bottom-number 2
					+e.bottom-content
						+e.bottom-title
							| Модель
							br
							| автомобиля
						+e.bottom-desc.js-model Не указано
				+e.bottom-item
					+e.bottom-number 3
					+e.bottom-content
						+e.bottom-title
							| Год
							br
							| выпуска
						+e.bottom-desc.js-year Не указано
				+e.bottom-item
					+e.bottom-number 4
					+e.bottom-content
						+e.bottom-title
							| Возраст
							br
							| водителя
						+e.bottom-desc.js-age Не указано
				+e.bottom-item
					+e.bottom-number 5
					+e.bottom-content
						+e.bottom-title
							| Стаж
							br
							| вождения
						+e.bottom-desc.js-experience Не указано
				+e.bottom-item
					+e.bottom-number 6
					+e.bottom-content
						+e.bottom-title
							| Характеристики
							br
							| авто
						+e.bottom-desc
							span.js-power 150 л.с.
							br
							span.js-price 1 500 000 руб.
				+e.bottom-item
					+e.bottom-number 7
					+e.bottom-content
						+e.bottom-desc
							| Контактные
							br
							| данные