+b.main
	include header
	+e.wrap.wrap
		+e.center.flex
			+e.left
				+e.title.h1 Расчет Каско
				+e.desc 
					| в 15+ страховых 
					br
					| компаниях за 2 минуты
				+e.A.btn.btn._big._fill(href="/kviz.html") Онлайн-расчет
			+e.right
				+e.percent-back 50%
				+e.IMG.car(src="/img/main__car.png")
				+e.box.flex._vertical._center
					+e.box-wrap
						+e.box-text Скидки до
						+e.box-percent 50%
		+e.bottom
			+e.list.flex
				+e.list-item
					+e.list-wrap
						+e.list-icon
							+icon('imac','0 0 38 34')
						+e.list-text
							+e.SPAN.list-number 1
							| Расчет в 15 страховых
							br
							| компаниях
				+e.list-item
					+e.list-wrap
						+e.list-icon
							+icon('file','0 0 27 34')
						+e.list-text
							+e.SPAN.list-number 2
							| Оформление
							br
							| за 5 минут
				+e.list-item
					+e.list-wrap
						+e.list-icon
							+icon('clock','0 0 36 36')
						+e.list-text
							+e.SPAN.list-number 3
							| Доставка полиса
							br
							| за 3 часа
		+e.mobile
			+e.mobile-title.h1 Каско
			+e.mobile-desc 
				| От 15 страховых компаний
			+e.A.mobile-btn.btn._big._fill(href="/kviz.html") Онлайн-расчет за 2 мин
			+e.mobile-car
				img(src="/img/main__car_mobile.png")
			+e.mobile-list
				+e.mobile-item
					+e.mobile-wrap
						+e.mobile-icon
							+icon('imac','0 0 38 34')
						+e.mobile-text
							+e.SPAN.mobile-number 1
							| Скидки до 50%
				+e.mobile-item
					+e.mobile-wrap
						+e.mobile-icon
							+icon('file','0 0 27 34')
						+e.mobile-text
							+e.SPAN.mobile-number 2
							| Оформление
							br
							| за 5 минут
				+e.mobile-item
					+e.mobile-wrap
						+e.mobile-icon
							+icon('clock','0 0 36 36')
						+e.mobile-text
							+e.SPAN.mobile-number 3
							| Доставка за 3 часа