+b.problem
	+e.wrap.wrap
		+e.head.flex._justify._end
			+e.H2.title.h2
				| Неожиданные проблемы 
				br
				| обычно появляются 
				br
				| после покупки полиса
			+e.desc
				+e.desc-icon
					+icon('att','0 0 39.97 36')
				+e.desc-text
					| Вы наверняка 
					br
					| с ними сталкивались
		+e.head-mobile
			+e.H2.title.h2
				| Проблемы после покупки полиса
			+e.text С ними сталкиваются 78% покупателей
		+e.list.flex_justify
			+e.item(style="background-image:url(/app/img/problem1.jpg)")
				+e.item-content
					+e.H3.item-title.h3
						| Переплата до 50.000 р.
					+e.P.item-desc.p
						| За лишние опции, которые 
						br
						| Вам не нужны
			+e.item(style="background-image:url(/app/img/problem2.jpg)")
				+e.item-content
					+e.H3.item-title.h3
						| Некачественый ремонт
					+e.P.item-desc.p
						| Б/У запчасти, сомнительные станции ремонта, бесконечные согласования между страховой компанией и дилером
			+e.item(style="background-image:url(/app/img/problem3.jpg)")
				+e.item-content
					+e.H3.item-title.h3
						| Отказ от выплаты
					+e.P.item-desc.p
						| Из-за скрытых условий 
						br
						| договора страхования
		+e.bottom.flex
			+e.bottom-item._left
				+e.bottom-bg._left(style="background-image:url(/app/img/dislike__img.jpg)")
				+e.bottom-content
					+e.bottom-icon
						+icon('dislike','0 0 48 40')
					+e.H2.bottom-title.h2
						| Выбор КАСКО 
						br
						| самостоятельно
					+e.bottom-desc
						| Навязанные опции и риск не учесть 
						br
						| скрытые условия договора
			+e.bottom-item._right
				+e.bottom-bg._right(style="background-image:url(/app/img/like__img.jpg)")
				+e.bottom-content
					+e.bottom-icon
						+icon('like','0 0 48 40')
					+e.H2.bottom-title.h2
						| Подбор КАСКО 
						br
						| с Veritas
					+e.bottom-desc
						| Всегда только те опции в КАСКО, 
						br
						| которые подходят именно Вам