+b.scam#scam
	+e.wrap.wrap
		+e.head.flex_justify
			+e.left
				+e.H2.title.h2
					| Акции страховых компаний 
					br
					span это не всегда хорошо
				+e.desc
					| Примеры хитростей и уловок страховых компаний
				+e.desc-mobile
					| это не всегда хорошо
			+e.right
				+e.counter
					span.swiper-pagination-current
						| 1  
					| / 
					span.swiper-pagination-total 6
				+e.nav
					+e.arrow._left
						+e.arrow-icon
							+icon('arrow-left','0 0 9.41 14')
					+e.pagination
					+e.arrow._right
						+e.arrow-icon
							+icon('arrow-right','0 0 9.41 14')
	+e.slider.js-slider.swiper-container
		+e.list.swiper-wrapper
			+e.slide.swiper-slide
				+e.item
					+e.item-head
						+e.IMG.logo(src='/img/tinkoff.png')
					+e.content.content
						+e.false
							h4 Кешбэк 20% на КАСКО
							p
								| Суть маркетинга: Покупайте и оплачивайте страховку, а мы вернем вам 20% кешбэком
						+e.true
							h4
								+e.SPAN.item-dot •
								| Правда
							p
								| Вам необходимо купить как ОСАГО так и КАСКО. 
								br
								| С учетом кешбэка это покажется выгодно, но возврат Вам сделают только с полиса ОСАГО, да ещеи в течении нескольких месяцев. Также стоит учесть что кешбэк можно потратить только на выбранные категории.
							p
								| А если у Вас нет кредитной карты Тинькофф, вы обязательно станете обладателем очередной кредитной карты.
			+e.slide.swiper-slide
				+e.item
					+e.item-head
						+e.IMG.logo(src='/img/alfa.png')
					+e.content.content
						+e.false
							h4 КАСКО 50 на 50
							p
								| Суть маркетинга: Заплатите 50% от полиса сейчас. 
								br 
								| Если наступит страховой случай заплатите оставшиесь 50%
						+e.true
							h4
								+e.SPAN.item-dot •
								| Правда
							p
								| Это предложение расчитывает следующим образом: Например у Вас автомобиль BMW, рыночное предложениена полное КАСКО 80 000 руб. И это довольно существенная сумма. Страховая компания предлагает Вам: заплатите 55 000 руб. и у Вас будет КАСКО. И в данном случае Вы покупаете просто бумажку, полис не работает пока не заплатите вторую сумму. Вы либо гарантированно отдали 55 000 руб., а если все-таки решили воспользоваться заплатите все 110 000 руб. вместо 80 000 руб.
			+e.slide.swiper-slide
				+e.item
					+e.item-head
						+e.IMG.logo(src='/img/tinkoff.png')
					+e.content.content
						+e.false
							h4 Кешбэк 20% на КАСКО
							p
								| Суть маркетинга: Покупайте и оплачивайте страховку, а мы вернем вам 20% кешбэком
						+e.true
							h4
								+e.SPAN.item-dot •
								| Правда
							p
								| Вам необходимо купить как ОСАГО так и КАСКО. 
								br
								| С учетом кешбэка это покажется выгодно, но возврат Вам сделают только с полиса ОСАГО, да ещеи в течении нескольких месяцев. Также стоит учесть что кешбэк можно потратить только на выбранные категории.
							p
								| А если у Вас нет кредитной карты Тинькофф, вы обязательно станете обладателем очередной кредитной карты.
			+e.slide.swiper-slide
				+e.item
					+e.item-head
						+e.IMG.logo(src='/img/alfa.png')
					+e.content.content
						+e.false
							h4 КАСКО 50 на 50
							p
								| Суть маркетинга: Заплатите 50% от полиса сейчас. 
								br 
								| Если наступит страховой случай заплатите оставшиесь 50%
						+e.true
							h4
								+e.SPAN.item-dot •
								| Правда
							p
								| Это предложение расчитывает следующим образом: Например у Вас автомобиль BMW, рыночное предложениена полное КАСКО 80 000 руб. И это довольно существенная сумма. Страховая компания предлагает Вам: заплатите 55 000 руб. и у Вас будет КАСКО. И в данном случае Вы покупаете просто бумажку, полис не работает пока не заплатите вторую сумму. Вы либо гарантированно отдали 55 000 руб., а если все-таки решили воспользоваться заплатите все 110 000 руб. вместо 80 000 руб.
	+e.IMG.bottom-dots(src="/img/scam__dots.png")