+b.scheme
	+e.wrap.wrap
		+e.head
			+e.H2.title.h2
				| Сохраним нервы и деньги 
				br
				| при наступлении страхового случая
			+e.desc
				| Мы всегда на вашей стороне
		+e.head-mobile
			+e.H2.title.h2
				| Сохраним нервы и деньги 
			+e.desc
				| При наступлении страхового случая
		+e.top
			+e.row.flex_justify
				+e.item
					+e.item-wrap
						+e.icon-list
							+icon('list','0 0 45 51')
						+e.text.p
							span
								| Укажем как правильно
								br
								| действовать 
							br
							| при наступлении любого 
							br
							| инцидента
				+e.item._m-hidden
					+e.item-wrap
						+e.icon-clock2
							+icon('clock2','0 0 51 51')
						+e.text.p
							| На связи
						+e.time
							| 24 / 7
			+e.row.flex_justify
				+e.item
					+e.item-wrap
						+e.icon-manager
							+icon('manager','0 0 47 51')
						+e.text.p
							| Закрепим за Вами
							br
							| персонального
							br
							| менеджера
				+e.A.item-btn.btn-round__.js-modal(href="recall")
					+e.line
						svg(xmlns='http://www.w3.org/2000/svg', width='259.66', height='263', viewBox='0 0 259.66 263')
							path(d='M1528.66,5844.54A131.015,131.015,0,1,1,1401,5684', transform='translate(-1269.5 -5683.5)')
					+e.text
						| Заказать
						br
						| звонок
				+e.item._m-visible
					+e.item-wrap
						+e.icon-clock2
							+icon('clock2','0 0 51 51')
						+e.text.p
							| На связи
						+e.time
							| 24 / 7
			+e.IMG.expert(src="/img/expert.png")
		+e.screen
			+e.IMG.screen-img(src="/img/screen.jpg")
			+e.screen-btn.A.btn-round__(href="#")
				+e.line
					svg(xmlns='http://www.w3.org/2000/svg', width='259.66', height='263', viewBox='0 0 259.66 263')
						path(d='M1528.66,5844.54A131.015,131.015,0,1,1,1401,5684', transform='translate(-1269.5 -5683.5)')
				+e.text
					| Онлайн
					br
					| расчет
		+e.bottom.flex
			+e.bottom-left
				+e.H2.bottom-title.h2 Подбор КАСКО
				+e.bottom-desc.h3
					| Сравни 30+ предложений и выбери 
					br
					| лучшее предложение со скидкой до
				+e.A.bottom-btn.btn._big._fill(href="#") Онлайн-расчет
			+e.bottom-right
				+e.percent 50%
		+e.bottom-mobile
			+e.bottom-text После наступления инцидента
			+e.A.bottom-btn.btn._big._fill(href="#") Онлайн-расчет КАСКО