
.mfp-bg{
	background-color: rgb(0, 0, 0);
	opacity: 0.502;	
}

.mfp-wrap {
	overflow-x: hidden;
	overflow-y: auto !important;
}

.modals{
	position: relative;
	margin: auto;
	width: 100%;
	padding: 70rem 65rem 95rem 65rem;
	max-width: 520rem;
	background-color: #fff;
	cursor: auto!important;	
	font-size: 15rem;
	border-radius: 20px;

	.magnetic-wrapper{
		width: calc(100% + 60px);
	}

	&__close{
		cursor: pointer;
		position: absolute;
		right: 28rem;
		top: 28rem;
		z-index: 2;
		fill: #000;
		.icon {
			width: toem(17);
			fill: #000;
			opacity: 0.5;
		}
	}
	&__title {
		font-size: 40rem;
		font-weight: normal;
	}
	&__desc {
		margin-top: 8rem;
		font-weight: 500;
	}
	&__form {
		margin-top: 45rem;
	}
	&__input {
		width: 100%;
		text-align: center;
		font-size: 18rem;
	}
	&__btn {
		width: 100%;
	}
	&__field {
		margin-bottom: 16rem;
		&.error {
			.modals__input {
				border-color: red;
				color: red;
			}
		}
	}
	&__thancks {
		background: #fff;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		display: none;
		justify-content: center;
		align-items: center;
		text-align: center;
		opacity: 0;
		transition: ease 0.2s;
		&.is-active {
			display: flex;
			opacity: 1;
		}
		&-icon {
			width: 200rem;
			margin: 0 auto 20rem auto;
		}
	}
}
.mfp-bg{
	opacity: 0;
	transition: all .5s ease; 
	


	&.mfp-ready{
		opacity: 0.502;	
	}

	&.mfp-removing{
		opacity: 0;
	}
}

.css-modal-animate{
	// start state
	
	overflow: hidden;

	.modals, .mfp-figure{
		transition: all .5s ease; 
		opacity: 0;
		transform: translateY(30px);
	}

	// animate in
	&.mfp-ready{
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{	
		.modals, .mfp-figure{
			opacity: 0;
		}
	}

}
@include max-screen($large_mobile) {
	.modals {
		padding: 35px 20px 40px 20px;
	}
}
@include max-screen($small_tablet) {
	.modals {
		&__close {
			right: 15px;
			top: 15px;
		}
		&__title {
			font-size: 30px;
		}
		&__desc {
			font-size: 12px;
		}
		&__form {
			margin-top: 25px;
		}
	}
}