.main {
	background-image: linear-gradient( 90deg, rgb(236,245,255) 0%, rgb(255,255,255) 100%);
	&__center {
		margin-top: 80rem;
	}
	&__left {
		width: 33.33%;
	}
	&__right {
		position: relative;
		width: 66.66%;
		padding-top: 65rem;
	}
	&__title {
		text-transform: uppercase;
		margin-left: -5rem;
	}
	&__desc {
		margin-top: 30rem;
		font-size: 18rem;
		font-weight: 500;
		line-height: (29/18)*1;
	}
	&__btn {
		width: 100%;
		max-width: 250rem;
		margin-top: 40rem;
	}
	&__car {
		position: relative;
		z-index: 2;
		max-width: none;
		width: 948rem;
	}
	&__percent-back {
		position: absolute;
		left: 120rem;
		top: 0;
		font-size: 400rem;
		font-weight: 600;
		line-height: 0.75;
		opacity: 0.1;
	}
	&__box {
		position: absolute;
		left: 50%;
		z-index: 3;
		bottom: 13rem;
		width: 266rem;
		height: 266rem;
		padding-top: 15rem;
		background: #fff;
		border-radius: 100%;
		text-align: center;
		transform: translateX(-110rem);
		&-text {
			font-size: 18rem;
			font-weight: 500;
		}
		&-percent {
			font-size: 80rem;
			font-weight: 100;
			line-height: 1.1;
		}
	}
	&__bottom {
		margin-top: 80rem;
	}
	&__list {
		background: #fff;
		border: 1px solid #d2dbe7;
		&-item {
			position: relative;
			display: flex;
			align-items: center;
			width: 33.33%;
			padding-left: 120rem;
			height: 200rem;
			&:first-child {
				padding-left: 100rem;
			}
			&:after {
				content: '';
				position: absolute;
				right: -16px;
				width: 16px;
				height: 100%;
				background: url(/app/objects/main__arrow.svg) right no-repeat;
				background-size: auto 100%;
			}
		}
		&-icon {
			margin-bottom: 20rem;
			fill: $light-blue;
			.icon-file {
				width: 27rem;
			}
			.icon-clock {
				width: 36rem;
			}
			.icon-imac {
				width: 38rem;
			}
		}
		&-text {
			position: relative;
			font-size: 16rem;
			line-height: (24/16)*1;
			font-weight: 500;
		}
		&-number {
			position: absolute;
			left: -25rem;
		}
	}
	&__mobile {
		display: none;
		margin-top: 70px;
		&-title {
			font-size: 70px;
			font-weight: 500;
			text-transform: uppercase;
		}
		&-desc {
			font-size: 16px;
			font-weight: 500;
			margin-top: 15px;
		}
		&-btn {
			width: 100%;
			max-width: 260px;
			margin-top: 45px;
		}
		&-car {
			display: flex;
			justify-content: flex-end;
			margin-right: 10px;
			margin-top: 60px;
			img {
				max-width: none;
				width: 464px;
			}
		}
		&-list {
			margin-left: -15px;
			margin-right: -15px;
			background: #fff;
			border-top: 1px solid #d2dbe7;
		}
		&-item {
			position: relative;
			padding: 80px 0 20px 0;
			&:after {
				content: '';
				position: absolute;
				bottom: -30px;
				left: 0;
				width: 100%;
				height: 30px;
				background: url(/app/objects/main__arrow_mobile.svg) bottom no-repeat;
				background-size: 100% auto;
			}
			&:first-child {
				padding-top: 65px;
			}
		}
		&-icon {
			margin-bottom: 20px;
			fill: $light-blue;
			.icon-file {
				width: 27px;
			}
			.icon-clock {
				width: 36px;
			}
			.icon-imac {
				width: 38px;
			}
		}
		&-text {
			position: relative;
			font-size: 16px;
			line-height: 26px;
			font-weight: 500;
		}
		&-number {
			position: absolute;
			right: 50%;
			margin-right: 30px;
			top: -58px;
		}
	}
}

@include max-screen($small_tablet) {
	.main {
		&__list {
			&-item {
				padding-left: 80px;
				&:first-child {
					padding-left: 60px;
				}
			}
		}
	}
}

@include max-screen($large_mobile) {
	.main {
		&__center {
			display: none;
		}
		&__mobile {
			display: block;
			text-align: center;
		}
		&__bottom {
			display: none;
		}
		&__list {
			border-left: 0;
			border-right: 0;
			&-item {
				width: 100%;
				padding-left: 0;
				justify-content: space-between;
				justify-content: center;
				text-align: center;
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
}