.scam {
	position: relative;
	overflow: hidden;
	padding: 140rem 0 175rem 0;
	background: url(/img/scam__bg.jpg) top no-repeat;
	color: #fff;
	&__desc {
		margin-top: 30rem;
		font-size: 18rem;
		line-height: (24/18)*1;
	}
	&__right {
		margin-top: 30rem;
	}
	&__counter {
		font-size: 16rem;
		font-weight: 300;
		text-align: center;
		.swiper-pagination-current {
			font-size: 25rem;
		}
	}
	&__nav {
		display: flex;
		margin-top: 20rem;
	}
	&__arrow {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 62rem;
		height: 62rem;
		border: 2px solid #fff;
		border-radius: 100%;
		cursor: pointer;
		transition: all 0.15s ease-in-out;
		
		&:hover {
			background: #fff;
			.scam__arrow-icon {
				stroke: $blue;
			}
		}
		&-icon {
			position: relative;
			width: 9.41rem;
			fill: none;
			stroke: #fff;
			stroke-width: 2px;
			fill-rule: evenodd;
			svg {
				height: auto;
				display: block;
			}
		}
		&_left {
			margin-right: 23rem;
		}
	}
	&__slider {
		position: relative;
		left: 50%;
		margin-top: 100rem;
		width: 2400rem;
		transform: translateX(-50%);
	}
	&__slide {
		padding: 0 15px 0 15px;
		transition: ease 0.5s;
	}
	&__item {
		padding: 0 60rem 60rem 60rem;
		background: #fff;
		border-radius: 20px;
		color: #242629;
		&-head {
			height: 150rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 30rem 0 20rem 0;
			border-bottom: 1px solid rgba(0,0,0,0.15);
		}
		&-logo {
			max-height: 100%;
		}
		&-dot {
			color: $blue;
			font-size: 24rem;
			padding-right: 12rem;
			line-height: 1;
		}
	}
	&__content {
		h4 {
			text-transform: uppercase;
			margin-top: 25rem;
			&:not(:last-child) {
				margin-bottom: 10rem;
			}
		}
		p {
			font-size: 16rem;
			line-height: (25/16)*1;
			color: #595959;
			&:not(:last-child) {
				margin-bottom: 15rem;
			}
		}
	}
	&__bottom-dots {
		position: absolute;
		left: 50%;
		bottom: -550px;
		transform: translateX(-50%);
	}
	&__desc-mobile {
		display: none;
		color: $light-blue;
		font-size: 14px;
		font-weight: 500;
		margin-top: 8px;
	}
	&__pagination {
		display: flex;
		justify-content: center;
		.swiper-pagination-bullet {
			display: block;
			cursor: pointer;
			width: 8px;
			height: 8px;
			margin: 0 10px 0 10px;
			transition: ease 0.15s;
			background: #fff;
			opacity: 0.2;
			border-radius: 100%;
		}
		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
	.swiper-slide-active, .swiper-slide-duplicate-prev {
		opacity: 0.6;
	}
}

@include max-screen($large_tablet) {
	.scam {
		&__slider {
			width: 100%;
		}
		.swiper-slide-active, .swiper-slide-duplicate-prev {
			opacity: 1;
		}
	}
}

@include max-screen($small_tablet) {

}

@include max-screen($large_mobile) {
	.scam {
		padding: 60px 0 74px 0;
		&__wrap {
			position: static;
		}
		&__title {
			span {
				display: none;
			}
		}
		&__desc {
			display: none;
		}
		&__desc-mobile {
			display: block;
		}
		&__slider {
			margin-top: 27px;
		}
		&__item {
			padding: 0 0 30px 0;
			border-right: 15px;
			&-head {
				height: 90px;
				padding: 15px 0 15px 0;
				justify-content: flex-start;
			}
			&-dot {
				padding-right: 7px;
			}
		}
		&__logo {
			transform: scale(0.85);
		}
		&__content {
			padding: 0 15px 0 15px;
			h4 {
				margin-top: 15px;
				margin-bottom: 5px;
			}
			p {
				font-size: 12px;
				font-weight: 500;
				color: #262123;
				br {
					display: none;
				}
			}
		}
		&__counter {
			display: none;
		}
		&__nav {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 30px;
			justify-content: space-between;
			align-items: center;
			padding: 0 15px 0 15px;
			margin-top: 0;
		}
		&__arrow {
			width: auto;
			height: auto;
			border: 0;
			&-icon {
				width: 10px;
			}
			&_left {
				margin-right: 0;
			}
			&:hover {
				background: none;
			}
		}
		&__bottom-dots {
			display: none;
		}
	}
}